<div class="container-fluid">
    <div class="row mt-3">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div class="card">

            <!--Header-->
            <div class="header gradient-blue">
                <div class="row d-flex justify-content-center">
                    <h3 class="text-white mb-1 mt-1 font-weight-bold">Donation center update</h3>
                </div>
            </div>

            <div style="padding: 5%; margin: auto;">
                <form #form="ngForm" *ngIf="!infoChanged; else infoChangedMessage">
                    <div class="row d-flex mt-4">
                        <div class="col-md-6">
                            <label>
                                <input type="text" name="name" [(ngModel)]="name" required="required">
                                <span class="keep_hovered">Name</span>
                            </label>
                        </div>
                    </div>
                    <div class="row d-flex mt-4">
                        <div class="col-md-4">
                            <label>
                                <input type="text" name="city" [(ngModel)]="city" required="required">
                                <span class="keep_hovered">City</span>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <input type="text" name="country" [(ngModel)]="country" required="required">
                                <span class="keep_hovered">Country</span>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <input type="text" name="address" [(ngModel)]="address" required="required">
                                <span class="keep_hovered">Address</span>
                            </label>
                        </div>
                    </div>
                    <div class="row d-flex mt-4">
                        <div class="col-md-6">
                            <label>
                                <input type="text" name="latitude" [(ngModel)]="latitude" required="required">
                                <span class="keep_hovered">Latitude</span>
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label>
                                <input type="text" name="longitude" [(ngModel)]="longitude" required="required">
                                <span class="keep_hovered">Longitude</span>
                            </label>
                        </div>
                    </div>
                    <div class="row d-flex mt-4">
                        <div class="col-md-6">
                            <label>
                                <input type="text" name="description" [(ngModel)]="description" required="required">
                                <span class="keep_hovered">Description</span>
                            </label>
                        </div>
                    </div>
                    <div class="row d-flex">
                        <div class="col-md-8"></div>
                        <div class="col-md-4">
                            <button
                                (click)="changeInfo()"
                                [disabled]="!contentIsValid() || !form.dirty"
                                class="btn btn-blue btn-rounded"
                                style="width: 100%"
                            >
                                Change Info
                            </button>
                        </div>
                    </div>
                </form>
                <div style="color: red" *ngIf="responseMessage.length != 0"><b>{{responseMessage}}</b></div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #infoChangedMessage>
    <p>Info successfully changed!</p>
  </ng-template>