<div class="container">
    <h2>User List</h2>
    <div class="col-md-3" style="display: inline-block">
        <label>
            <span>Search</span>
            <input type="text" name="search" [(ngModel)]="searchField" (keyup)="searchUsers()" />
        </label>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let user of usersSearchResult">
        <div class="user-box">
          <h4>{{ user.firstName }} {{ user.lastName }}</h4>
          <p>Email: {{ user.email }}</p>
          <p>Penalty Count: {{ user.penalties }}</p>
        </div>
      </div>
    </div>
    <p *ngIf="errorMsg">{{ errorMsg }}</p>
  </div>
  