<body>
    <div class="row d-flex align-items-center w-100">
        <div class="col-md-12">
        </div>
        <div class="col-md-12">
            <nav class="navMenu">
                <a href="/user-homepage" style="float:none">Home</a>
                <a href="/appointment-history" id="appointment-history" style="float:none">Appointment History</a>
                <a href="/user-upcoming-appointments" id="upcoming-appointments" style="float:none">Upcoming Appointments</a>
                <a href="/qr-confirmations" id="qr-confirmations" style="float:none">QR Confirmations</a>
                <a href="/survey" id="survey" style="float:none">Survey</a>
                <a href="/complaints" id="complaints" style="float:none">Complaints</a>
                <a href="/user-profile" id="profile" style="float:none">Profile</a>
                <a href="/" id="signout" (click)="signout()" style="float:none">Sign out</a>
            </nav>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <router-outlet></router-outlet>
</body>