<style>
    .map {
        width: 100%;
        height: 400px;
    }
    .card-img-top {
        height: 200px;
        object-fit: cover;
    }
    .checked {
        color: #4facfe;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<div class="container">
    <div class="card mt-5">
        <div class="header gradient-blue">
            <div class="row d-flex justify-content-center">
                <h3 class="text-white mb-1 mt-1 font-weight-bold">{{ center.name }}</h3>
            </div>
        </div>
        <div class="card-body mx-4">
            <div id="map" class="map"></div>
            <h1 class="card-text">{{ center.address + " " + center.city + ", " + center.country }}</h1>
            <h2 class="card-text">{{ center.description }}</h2>
            <h2>Other admins:</h2>
            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let staffs of staff">
                <h3 class="card-title">{{ staffs.firstName + " " + staffs.lastName }}</h3>
            </div>
            <div>
                <span *ngIf="center.rating < 1">
                    <span class="far fa-star checked"></span>
                    <span class="far fa-star checked"></span>
                    <span class="far fa-star checked"></span>
                    <span class="far fa-star checked"></span>
                    <span class="far fa-star checked"></span>
                </span>
                <span *ngIf="center.rating >= 1" class="fas fa-star checked"></span>

                <span *ngIf="center.rating >= 1 && center.rating < 1.25" class="far fa-star checked"></span>
                <span *ngIf="center.rating >= 1.25 && center.rating < 1.75" class="fas fa-star-half-alt checked"></span>
                <span *ngIf="center.rating >= 1.75" class="fas fa-star checked"></span>

                <span *ngIf="center.rating >= 1 && center.rating < 2.25" class="far fa-star checked"></span>
                <span *ngIf="center.rating >= 2.25 && center.rating < 2.75" class="fas fa-star-half-alt checked"></span>
                <span *ngIf="center.rating >= 2.75" class="fas fa-star checked"></span>

                <span *ngIf="center.rating >= 1 && center.rating < 3.25" class="far fa-star checked"></span>
                <span *ngIf="center.rating >= 3.25 && center.rating < 3.75" class="fas fa-star-half-alt checked"></span>
                <span *ngIf="center.rating >= 3.75" class="fas fa-star checked"></span>

                <span *ngIf="center.rating >= 1 && center.rating < 4.25" class="far fa-star checked"></span>
                <span *ngIf="center.rating >= 4.25 && center.rating < 4.75" class="far fa-star-half-alt checked"></span>
                <span *ngIf="center.rating >= 4.75" class="fas fa-star checked"></span>
            </div>
        </div>
        <div class="col-md-1">
            <button class="btn btn-blue btn-rounded" (click)="update()">Change info</button>
            <button class="btn btn-blue btn-rounded" (click)="defineTerms()">Define terms</button>
        </div>
    </div>
</div>
<div class="container col-md-6">
    <div class="card mt-5" *ngIf="!(terms === undefined) && terms.length != 0">
        <div class="card-body mx-4">
            <div class="col-md-2">
                <label for="sort">
                    <span>Sort by:</span>
                    <select name="sort" id="sort" [(ngModel)]="selectedSortOption" (ngModelChange)="sortTerms()">
                        <option value="date">Date</option>
                        <option value="time">Time</option>
                    </select>
                </label>
            </div>
            <div class="row d-flex mt-2" style="border-bottom: 1px solid #9e9e9e" *ngFor="let t of terms">
                <div class="col-md-2">
                    <div class="row d-flex">
                        <h5 class="font-weight-bold" style="margin-bottom: 0px !important">
                            {{ t.date | date : "HH:mm" }}
                        </h5>
                    </div>
                    <div class="row d-flex">
                        <span class="font-weight-bold header-text">
                            {{ t.date | date : "dd/MM/yyyy" }}
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <h5 class="font-weight-bold">{{ t.duration }} minutes</h5>
                </div>
                <div class="col-md-5">
                    <h5 class="font-weight-bold">
                        {{ t.center.address + ", " + t.center.city }}
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
